.options {
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: center;
    
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    margin-top: 15vh;
    margin-left: 5vw;
}

.opt-items{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
}

h3{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 350;
}
.tableProduct {
    overflow-y: hidden;
    max-height: 0px;
    transition: max-height 0.5s ease-in-out;
}
.active {
    max-height: 1000px;
}

svg {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90vw;
    background-color: white;
}
thead{
    background-color: #A8B5E1;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

.tableInput {
    background-color: transparent;
    border: none;
    outline: none;
}

#add-table{
    margin-bottom: 50px;
}

.update {
    background-color: #628EFF;
    color : white;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}
.del {
    background-color: #EB5858;
    color : white;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}
.add {
    background-color: #6DF9AD;
    color : white;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}


@media only screen and (min-width: 812px){
    .options {
        top: 80%; 
    }
}
