.fav-container {
    overflow-y: scroll;
    max-height: 550px;
    background-color: #C1D5F0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form-fav {
    position: relative;
    margin-top: 10%;
    margin-bottom: 20%;
}

#buttons {
    position: absolute;
    left: 0;
    top: 100%;
}

#buttons button {
    background-color: #A8B5E1;
    cursor: pointer;
    border: none;
}

.case {
    display: flex;
    align-items: center;
    background-color: #A8B5E1;
    height: 98px;
    gap: 15px;
}

.img-cadre {
    overflow: hidden;
    height: 80px;
    width: 115px;
    border-radius: 5px;
}

.img-cadre img {
    object-fit: cover;
    width: 115px;
    height: 170px;

}

.text {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;   
}

.textP {
    width: 300px;
}

.textDesc {
    display: none;
}

p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#nothing {
    text-align: center;
}

@media only screen and (min-width: 812px){
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #form-fav {
        width: 70vw;
    }
    .textDesc {
        width: 500px;
        font-style: oblique 20deg;
        display: block;
    }
}
