#change-userForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#change-userForm label {
    align-self: flex-start;
}

#cadre-form {
    margin-top: 13px;
    background-color: #C1D5F0;
    padding: 15px;
}

.inp-line {
    width: 80vw;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    background: transparent;
    transition: border-color 0.5s;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    font-weight: 300;
} 

.bd{
    height: 3px;
    width: 82vw;
    background: linear-gradient(to right, gray, #3857bd);
    display: none;
    margin-top: -13px;
}

.inp-line:focus + .bd{
    border-color: #A8B5E1;
    display: block;  
    
}

h2, h3 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

h1, h2 {
    text-align: center;
}

#radios {
    align-self: flex-start;
}

.case {
    margin-top: 53px;
    width: 297px;
    height: 297px;
    background-color: #A8B5E1;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.centrer-relative {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.btn-rouge {
    margin-top: 40px;
    margin-bottom: 10px;
}
