h2{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5em;
    font-weight: 400;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.cases {
    height: 350px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease-in;
}

.cases img {
    width: 328px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s ease-in;
}

.cases:hover {
    width: 100vw;
    height: 100vh;
}

.cases:hover img{
    width: 100vw;
    height: 100vh;
    user-select: none;
    overflow: scroll;
}

#filtre {
    background-color: #C9D9F0;
    width: 100px;
    height: 30px;
    border: 1px solid #A8B5E1;
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#filtre:hover{
    cursor: pointer;
    background-color: #A8B5E1;
}

#modal-bg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    z-index: 5;
    animation-name: fade;
    animation-duration: 0.5s;
}

#modal {
    width: 50vw;
    height: 50vh;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #C9D9F0;
    border-radius: 5px;
    animation-name: slide;
    animation-duration: 0.5s;
}

#close-mod{
    display: flex;
    justify-content: end;
    align-items: center;
    height: auto;
    width: 100%;
}

#categories {
    display: flex;
    justify-content: space-evenly;
}

.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border-radius: 3px;
    border: 1px solid #a7a7a7;
}
.active-mod {
    background-color : #A7A7A7;
    color : #F5F5F5;
    border-color: whitesmoke;
}
.unactive-mod {
    border-color: #a7a7a7;
    background-color: whitesmoke;
    color: black;
}

.selection:hover{
    background-color: #a7a7a7;
    cursor: pointer;
    color: whitesmoke;
}
#prix{
    display: flex;
    justify-content: center;
    align-items: center;
}
#bar{
    position: relative;
    height: 3px;
    width: 80%;
    background-color: #A8B5E1;
}
#bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@keyframes fade {
    from {opacity : 0}
    to {opacity:  1}
}

@keyframes slide {
    from {bottom: -50vh; opacity: 0}
    to{bottom: 25%; opacity: 1}
}


