h2{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5em;
    font-weight: 400;
}

.side-marge {
    margin-top: 5vh;
}
p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#filtre {
    margin-top: 5vh;
    margin-left: 6vw;
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.cases {
    max-height: 350px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px 5px 5px 25%;
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
    transform: translateY(10vh);
    opacity: 0;
}

.cases:hover {
    border: 3px solid #A8B5E1;
    transform: translateY(-5vh);
}

.cases img {
    width: 328px;
    height: 350px;
    object-fit: cover;
    object-position: top;
    transition: all 0.5s ease-in;
}

.showing {
    transform: translateY(0);
    opacity: 1;
}

/*.cases:hover {
    width: 100vw;
    height: 100vh;
}

.cases:hover img{
    width: 100vw;
    height: 100vh;
    user-select: none;
    overflow: scroll;
}*/

#filtre {
    background-color: #C9D9F0;
    width: 100px;
    height: 30px;
    border: 1px solid #A8B5E1;
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#filtre:hover{
    cursor: pointer;
    background-color: #A8B5E1;
}

#modal-bg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    z-index: 5;
    animation-duration: 0.5s;
}

#modal {
    width: 100vw;
    height: 70vh;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #C9D9F0;
    border-radius: 5px;
    animation-name: slide;
    animation-duration: 0.5s;
}

#mod-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


#close-mod{
    display: flex;
    justify-content: end;
    align-items: center;
    height: auto;
    width: 100%;
}

.close {
    cursor: pointer;
}

#categories {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
}

.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border-radius: 3px;
    border: 1px solid #a7a7a7;
}

.all {
    margin-top: -5%;
}

.active-mod {
    background-color : #A7A7A7;
    color : #F5F5F5;
    border-color: whitesmoke;
}
.unactive-mod {
    border-color: #a7a7a7;
    background-color: whitesmoke;
    color: black;
}

.selection:hover{
    background-color: #a7a7a7;
    cursor: pointer;
    color: whitesmoke;
}

#range {
    width: 90%;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

/* -------------------Bulle-------------------- */
#range .sliderValue {
    position: relative;
    width: 100%;
    padding: 10px;
}
#range .sliderValue span{
    position: absolute;
    font-weight: 600;
    width: 40px;
    height: 40px;
    line-height: 51px;
    text-align: center;
    background-color: #C9D9F0;
    left: 50%;
    top: -50%;
    transform: translate(-50%,-74%) scale(0);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

#range .sliderValue span.show {
    transform: translate(-50%,-74%) scale(1);
}

#range .sliderValue span::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 51px;
    text-align: center;
    background-color: #C9D9F0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border: 3px solid whitesmoke;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: -1;
}
.field {
    height: 45px;
    width: 100%;
    position: relative;
}
#range .field .value {
    color: #6c7fbe;
    font-weight: 600;
    position: absolute;
}
.left {
    left: 0;
    top: -25%;
}
.right {
    right: 0;
    top: -25%;
}

#range .field input {
    appearance: none;
    outline: none;
    height: 3px;
    width: 100%;
    border-radius: 5px;
}
#range .field input[type='range']::-moz-range-thumb {
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #C9D9F0;
    cursor: pointer;
}
#range .field input[type='range']::-moz-range-progress {
    background-color: #C9D9F0;
}
#range .field input[type='range']::-webkit-slider-thumb {
    appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #C9D9F0;
    cursor: pointer;
}

@keyframes slide {
    from {bottom: -50vh; opacity: 0}
    to{bottom: 0%; opacity: 1}
}

@media only screen and (min-width: 812px){
    .all {
        margin-top: 0;
    }
    .flex-container{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #modal {
        animation: slideLarge 0.5s forwards;
        width: 50vw;
    }

    @keyframes slideLarge {
        from {bottom: -50vh; opacity: 0;}
        to {bottom: 15vh; opacity: 1;}
    }
    
}


