*{
    margin: 0;
}
body {
    background-color: #D9F0F6;
}

.navigation {
    display: flex;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color:  #C9D9F0;
    justify-content: space-around;
}

.right-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90px;
}

.logo {
    margin-top: 5px;
    width: 150px;
    height: 150px;
} 

.taille64 {
    width: 64px;
    height: 64px;
}

.taille32 {
    width: 32px;
    height: 32px;
}

.taille200 {
    width: 200px;
    height: 200px;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

nav, ul, li {
    list-style: none;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2em;
    font-weight: 400;
}

label, button {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.marge {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 3px solid #A8B5E1;
    padding-left: 10px;
}

.side-marge{
    border-left:  3px solid #A8B5E1;
    padding-left: 10px;
    margin-left: 5px;
}

.btn-vert {
    margin-top: 1px;
    background-color: #6DF9AD;
    color: whitesmoke;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    font-size: 1em;
}

.btn-rouge {
    margin-top: 1px;
    background-color: #EB5858;
    color: whitesmoke;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    font-size: 1em;
}

@media only screen and (min-width: 812px){
    .marge {
        top: 30%; 
    }
}

